<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap eCommerce Page Template</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="nes-container is-centered" align="center">
  <h2>Connectez vous</h2>
  <form [formGroup]="signinForm" (ngSubmit)="authLog()">
    <br/>
    <p>Entrez vos Identifiants</p>
    <label for="inputMail" class="sr-only">Adresse Mail</label>
    <input type="text" id="inputMail" class="nes-textarea" placeholder="Adresse Mail" formControlName="mail"
           required autofocus>
    <br/>
    <label for="inputPassword" class="sr-only">Mot de passe</label>
    <input type="password" id="inputPassword" class="nes-textarea" placeholder="Mot de passe"
           formControlName="password" required>
    <br/>
    <br/>
    <button class="btn btn-success" [disabled]="signinForm.invalid"
            type="submit">Connexion
    </button>
  </form>
</div>
</body>
</html>
