<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap eCommerce Page Template</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div id="mainwrapper">
  <div id="content">
    <section id="mainContent" align="center">
      <h2>Gestion du Compte</h2>
      <br/>
      <br/>
      <a class="nav-link" href="listorder" style="color: forestgreen">Voir les commandes en cours</a>
      <br/>
      <br/>
      <a class="nav-link" href="listreservation" style="color: forestgreen">Voir les reservations en cours</a>
      <br/>
      <br/>
      <a class="nav-link" href="accountmodify" style="color: red">Modifier mon compte</a>
      <br/>
      <br/>
      <div *ngIf="orders.length<=0">
        <a class="nav-link" href="" style="color: red" (click)="deleteUserAccount()">Supprimer mon compte</a>
      </div>
      <div *ngIf="orders.length>0">
        <p style="color: red"> Vous ne pouvez pas supprimer votre compte si vous avez des commandes en cours !</p>
      </div>
      <br/>
      <br/>
    </section>
  </div>
  <div id="footerbar">
  </div>
</div>
</body>
</html>
