<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap eCommerce Page Template</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<form [formGroup]="reviewForm" (ngSubmit)="saveReview()">
  <div class="form-group" align="center">

    <h2 align="center">Laissez Vos Avis sur Nos Guitares</h2>
    <br/>
    <br/>
    <label for="reviewcomment"></label>
    <textarea type="text"
              id="reviewcomment"
              class="nes-textarea"
              formControlName="reviewcomment" placeholder="Laisser un commentaire" required="required" style="width:400px">
    </textarea>
    <br/>
    <br/>
    <br/>
    <h2> Votre Note sur 10</h2>
    <br/>
    <label for="reviewnote"></label>
    <input type="number"
           id="reviewnote"
           formControlName="reviewnote" placeholder="Note" required="required" min="0" max="10" size="25"
           onKeyDown="return false">/10
    <br/>
    <br/>
    <button class="btn btn-success"
            type="submit"
            [disabled]="reviewForm.invalid">Validez votre Avis
    </button>
    <br/>
    <br/>
  </div>
</form>
</body>
